<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cuenta confirmada</title>
    <link rel="stylesheet" href="/Assets/css/lib/bootStrap/bootstrap.min.css">
    <link rel="stylesheet" href="/Assets/css/site/main.css">
</head>
<body>
    <main class="container d-flex justify-content-center align-items-center" style="height:100vh;">
        
        <div class="col-12 col-sm-8 col-md-6">
            <div class="card shadow p-4 text-center bg-success text-dark" id="container-message">
                <h2 class="fw-bold mb-4" id="error-confirm-account">✔ Cuenta confirmada</h2>
                <p id="error-message">Tu cuenta fue confirmada correctamente. Ahora puedes iniciar sesión.</p>
                <a href="/Assets/view/Login.html" class="btn btn-outline-warning mt-3">Ir al login</a>
            </div>
        </div>
    </main>   
    <script src="https://cdn.jsdelivr.net/npm/axios@1.13.2/dist/axios.min.js"></script>
    <script src="/Assets/js/lib/bootStrap/bootstrap.min.js"></script>
    <script src="/Assets/js/site/confirmAccount.js"></script>
</body>
</html>
<!-- Prueba -->

<!-- Prueba -->
