# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/
out/

# Rider
.idea/

# VS Code
.vscode/

# NuGet
*.nupkg
packages/
*.snupkg

# Dotnet Core
project.lock.json
project.fragment.lock.json
artifacts/

# Logs
*.log
*.tlog

# Others
*.cache
*.DS_Store
*.class
*.jar
*.war
*.ear
*.dbmdl
*.bak
*.backup
*.tmp
